.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fill-tremor-content-emphasis{
    font-weight: 600;
    color: rgb(12, 238, 102);
    font-size: 1.2rem;
}




