.boxshadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
// .graphshadow {
//   box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
// }

.fill-tremor-content-emphasis{
    font-weight: 600;
    color: rgb(12, 238, 102);
    font-size: 1.2rem;
}

.highcharts-a11y-proxy-element{
    display: none;
    font-size: larger;
}



